<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title style="text-align: center;">The Food Court</title>
</head>
<body ng-app="myApp" ng-controller="mainController">
<h1 style="text-align: center;">The Food Court</h1>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">The Food Court</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="TheFoodCourt.html">Home</a></li>
            <li class="active"><a href="TheFoodCourt.html">Discover new cuisines</a></li>
            <li><a href="location.html">Google Location</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div style="width:800px; margin:0 auto; text-align: left;">
    <p>Discover new cuisines</p>
    <form>
        Insert your favourite cuisine: <input id="favorC" type="text" name="favorCuisine" value=""><br>
        <input type="submit" ng-click="favorFunc();" value="Submit">
    </form>
    <!--{{favor}} -->
    <table style="margin: 0 auto;">
        <tr>
            <th style="text-align: center;">Cuisines</th>
            <tr  style="text-align: center;" ng-repeat="cuisine in reply">
        <td>{{cuisine}}</td>
    </tr>
    </table>
</div>
<div style="width:800px; margin:0 auto; text-align: left;">
    <form>Insert ingredients and get your restaurants(bullet 2):<br>
        <input id="ingred1" type="text" name="ingred1" value=""><br>
        <input id="ingred2" type="text" name="ingred2" value=""><br>
        <input id="ingred3" type="text" name="ingred3" value=""><br>
        <input id="ingred4" type="text" name="ingred4" value=""><br>
        <input type="submit" ng-click="ingredFunc();" value="Submit">
    </form>
</div>
<!--<div style="alignment: center; position: center; display: block;">-->
<!--<iframe id="googleLocation" width="600" height="450" frameborder="0" style="border:0;" src="" allowfullscreen></iframe>-->
<!--</div>-->
<script src="./js/fcController.js"></script>
</body>
</html>